<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{% url 'login' %}" method="post"></form>
        {% csrf_token %}
        <label for="username">Username:</label>
        <input 
            type="text"
            name="username"
            id="username"
            placeholder="Nombre de usuario"
            required
            autofocus
            value="{{ form.username.value|default:'' }}"     
        >
    </div>
    <div>
        
        <label for="password">Contraseña:</label>
        <input 
            type="password"
            name="pasword"
            id="pasword"
            paceholder="************"
            required
        >
    </div>
    <div>
        <button type="submit">Iniciar sesión</button>
    </div>
</body>
</html>